<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.jiuqi.etl.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ETL建模"
            class="com.jiuqi.etl.app.Perspective"
            id="com.jiuqi.etl.app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               label="显示视图(V)"
               mnemonic="V"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.jiuqi.etl.app.preference.GeneralPreferencePage"
            id="com.jiuqi.etl.product.general"
            name="常规">
      </page>
      <page
            class="com.jiuqi.etl.app.preference.EditorPreferencePage"
            id="com.jiuqi.etl.product.editor"
            name="编辑器">
      </page>
      <page
            class="com.jiuqi.etl.app.preference.ConslePreferencePage"
            id="com.jiuqi.etl.product.console"
            name="控制台">
      </page>
      <page
            class="com.jiuqi.etl.app.preference.LicencePreferencePage"
            id="com.jiuqi.etl.product.licence"
            name="授权">
      </page>
      <page
            category="com.jiuqi.etl.product.editor"
            class="com.jiuqi.etl.app.preference.CustomOrderPreferencePage"
            id="com.jiuqi.etl.product.customorder"
            name="任务和适配器">
      </page>
      <page
            category="com.jiuqi.etl.product.editor"
            class="com.jiuqi.widgets.stylededitor.editor.template.DefaultTemplatePreferencePage"
            id="com.jiuqi.etl.template"
            name="模板">
      </page>
      <page
            class="com.jiuqi.etl.app.preference.ThunderPreferencePage"
            id="com.jiuqi.etl.product.thunder"
            name="thunder服务">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.jiuqi.etl.product"
            name="ETL">
      </category>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.new"
            name="新建">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.runCF"
            name="运行控制流">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.runDF"
            name="运行数据流">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.verify"
            name="错误检查">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.publish"
            name="发布">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.maintain"
            name="维护">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            description="替代原显示闪屏.通过输入的键盘序列可以执行多个动作"
            id="com.jiuqi.etl.keysequence"
            name="输入键盘序列">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.runBack"
            name="后退">
      </command>
      <command
            categoryId="com.jiuqi.etl.product"
            id="com.jiuqi.etl.runForward"
            name="前进">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.jiuqi.etl.runCF"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
      <key
            commandId="com.jiuqi.etl.runDF"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6">
      </key>
      <key
            commandId="com.jiuqi.etl.verify"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7">
      </key>
      <key
            commandId="com.jiuqi.etl.maintain"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
      <key
            commandId="com.jiuqi.etl.publish"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            commandId="com.jiuqi.etl.keysequence"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+E">
      </key>
      <key
            commandId="com.jiuqi.etl.runBack"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_LEFT">
      </key>
      <key
            commandId="com.jiuqi.etl.runForward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_RIGHT">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.jiuqi.rpa.app.application"
            name="Uni Studio">
         <property
               name="appName"
               value="Uni Studio">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/com.jiuqi.rpa.product/about.gif">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/com.jiuqi.rpa.product/16.png,platform:/plugin/com.jiuqi.rpa.product/32.png,platform:/plugin/com.jiuqi.rpa.product/48.png,platform:/plugin/com.jiuqi.rpa.product/64.png,platform:/plugin/com.jiuqi.rpa.product/128.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jiuqi.etl.app.action.editor.TraceEditor"
            contributorClass="com.jiuqi.etl.app.action.editor.TraceEditorActionBarContributor"
            default="false"
            icon="icons/action/trace.gif"
            id="com.jiuqi.etl.app.trace"
            name="连接跟踪编辑器">
      </editor>
   </extension>

</plugin>
