<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="打开浏览器"
            editProvider="com.jiuqi.etl.rpa.ui.browser.openbrowser.OpenBrowserTaskEditProvider"
            group="浏览器"
            largeIcon="icons/openbrowser32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.browser.openbrowser.OpenBrowserTaskFactory"
            name="打开浏览器"
            smallIcon="icons/openbrowser16-01.png">
      </task>
      <task
            description="导航到URL"
            editProvider="com.jiuqi.etl.rpa.ui.browser.navigatetourl.NavigateToUrlTaskEditProvider"
            group="浏览器"
            largeIcon="icons/navToURL32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.browser.navigettourl.NavigateToUrlTaskFactory"
            name="导航到URL"
            smallIcon="icons/navToURL16-01.png">
      </task>
      <task
            description="关闭页签"
            editProvider="com.jiuqi.etl.rpa.ui.browser.closetabpage.CloseTabPageTaskEditProvider"
            group="浏览器"
            largeIcon="icons/closeTab32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.browser.closetabpage.CloseTabPageTaskFactory"
            name="关闭页签"
            smallIcon="icons/closeTab16-01.png">
      </task>
      <task
            description="设置WEB属性"
            editProvider="com.jiuqi.etl.rpa.ui.browser.setwebattribute.SetWebAttributeTaskEditProvider"
            group="浏览器"
            largeIcon="icons/setWebAttr32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.browser.setwebattribute.SetWebAttributeTaskFactory"
            name="设置WEB属性"
            smallIcon="icons/setWebAttr16-01.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="录入文本"
            editProvider="com.jiuqi.etl.rpa.ui.keyboard.typetext.TypeTextTaskEditProvider"
            group="键盘"
            largeIcon="icons/textin32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.keyboard.typetext.TypeTextTaskFactory"
            name="录入文本"
            smallIcon="icons/textin16-01.png">
      </task>
      <task
            description="发送热键"
            editProvider="com.jiuqi.etl.rpa.ui.keyboard.sendhotkey.SendHotKeyTaskEditProvider"
            group="键盘"
            largeIcon="icons/hotkey32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.keyboard.sendhotkey.SendHotKeyTaskFactory"
            name="发送热键"
            smallIcon="icons/hotkey16-01.png">
      </task>
      <task
            description="录入密文"
            editProvider="com.jiuqi.etl.rpa.ui.keyboard.typesecuretext.TypeSecureTextTaskEditProvider"
            group="键盘"
            largeIcon="icons/typeSecure32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.keyboard.typesecuretext.TypeSecureTextTaskFactory"
            name="录入密文"
            smallIcon="icons/typeSecure16-01.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="鼠标单击"
            editProvider="com.jiuqi.etl.rpa.ui.mouse.click.MouseClickTaskEditProvider"
            group="鼠标"
            largeIcon="icons/mouseclick32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.mouse.click.MouseClickTaskFactory"
            name="鼠标单击"
            smallIcon="icons/mouseclick16-01.png">
      </task>
      <task
            description="鼠标双击"
            editProvider="com.jiuqi.etl.rpa.ui.mouse.dbclick.MouseDbclickTaskEditProvider"
            group="鼠标"
            largeIcon="icons/dbClick32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.mouse.dbclick.MouseDbclickTaskFactory"
            name="鼠标双击"
            smallIcon="icons/dbClick16-01.png">
      </task>
      <task
            description="鼠标悬停"
            editProvider="com.jiuqi.etl.rpa.ui.mouse.hover.MouseHoverTaskEditProvider"
            group="鼠标"
            largeIcon="icons/hover32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.mouse.hover.MouseHoverTaskFactory"
            name="鼠标悬停"
            smallIcon="icons/hover16-01.png">
      </task>
      <task
            description="鼠标拖拽"
            editProvider="com.jiuqi.etl.rpa.ui.mouse.drag.MouseDragTaskEditProvider"
            group="鼠标"
            largeIcon="icons/drag32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.mouse.drag.MouseDragTaskFactory"
            name="鼠标拖拽"
            smallIcon="icons/drag16-01.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="设置文本"
            editProvider="com.jiuqi.etl.rpa.ui.control.settext.SetTextTaskEditProvider"
            group="控件"
            largeIcon="icons/setText32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.settext.SetTextTaskFactory"
            name="设置文本"
            smallIcon="icons/setText16-01.png">
      </task>
      <task
            description="设置勾选"
            editProvider="com.jiuqi.etl.rpa.ui.control.setcheck.SetCheckTaskEditProvider"
            group="控件"
            largeIcon="icons/setCheck32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.setcheck.SetCheckTaskFactory"
            name="设置勾选"
            smallIcon="icons/setCheck16-01.png">
      </task>
      <task
            description="获取勾选"
            editProvider="com.jiuqi.etl.rpa.ui.control.getcheck.GetCheckTaskEditProvider"
            group="控件"
            largeIcon="icons/getCheck32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.getcheck.GetCheckTaskFactory"
            name="获取勾选"
            smallIcon="icons/getCheck16-01.png">
      </task>
      <task
            description="获取文本"
            editProvider="com.jiuqi.etl.rpa.ui.control.gettext.GetTextTaskEditProvider"
            group="控件"
            largeIcon="icons/getText32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.gettext.GetTextTaskFactory"
            name="获取文本"
            smallIcon="icons/getText16-01.png">
      </task>
      <task
            description="设置焦点"
            editProvider="com.jiuqi.etl.rpa.ui.control.setfocus.SetFocusTaskEditProvider"
            group="控件"
            largeIcon="icons/setFocus32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.setfocus.SetFocusTaskFactory"
            name="设置焦点"
            smallIcon="icons/setFocus16-01.png">
      </task>
      <task
            description="单选条目"
            editProvider="com.jiuqi.etl.rpa.ui.control.selectitem.SelectItemTaskEditProvider"
            group="控件"
            largeIcon="icons/singleSelect32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.selectitem.SelectItemTaskFactory"
            name="单选条目"
            smallIcon="icons/singleSelect16-01.png">
      </task>
      <task
            description="多选条目"
            editProvider="com.jiuqi.etl.rpa.ui.control.selectmultipleitems.SelectMultipleItemsTaskEditProvider"
            group="控件"
            largeIcon="icons/multiSelect32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.selectmultipleitems.SelectMultipleItemsTaskFactory"
            name="多选条目"
            smallIcon="icons/multiSelect16-01.png">
      </task>
      <task
            description="高亮显示"
            editProvider="com.jiuqi.etl.rpa.ui.control.hightlight.HightlightTaskEditProvider"
            group="控件"
            largeIcon="icons/hightlight32-02.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.control.hightlight.HightlightTaskFactory"
            name="高亮显示"
            smallIcon="icons/hightlight16-02.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="存在"
            editProvider="com.jiuqi.etl.rpa.ui.find.exists.ExistsTaskEditProvider"
            group="查找"
            largeIcon="icons/exist32-02.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.find.exists.ExistsTaskFactory"
            name="存在"
            smallIcon="icons/exist16-02.png">
      </task>
      <task
            description="查找"
            editProvider="com.jiuqi.etl.rpa.ui.find.find.FindTaskEditProvider"
            group="查找"
            largeIcon="icons/findel32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.find.find.FindTaskFactory"
            name="查找"
            smallIcon="icons/findel16-01.png">
      </task>
      <task
            description="等待元素消失"
            editProvider="com.jiuqi.etl.rpa.ui.find.waitforvanish.WaitForVanishTaskEditProvider"
            group="查找"
            largeIcon="icons/vanish32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.find.waitforvanish.WaitForVanishTaskFactory"
            name="等待元素消失"
            smallIcon="icons/vanish16-01.png">
      </task>
      <task
            description="查找关联元素"
            editProvider="com.jiuqi.etl.rpa.ui.find.findrelative.FindRelativeTaskEditProvider"
            group="查找"
            largeIcon="icons/findrelative32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.find.findrelative.FindRelativeTaskFactory"
            name="查找关联元素"
            smallIcon="icons/findrelative16-01.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="打开应用"
            editProvider="com.jiuqi.etl.rpa.ui.application.open.OpenApplicationTaskEditProvider"
            group="应用"
            largeIcon="icons/openApp32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.application.open.OpenApplicationTaskFactory"
            name="打开应用"
            smallIcon="icons/openApp16-01.png">
      </task>
      <task
            description="关闭应用"
            editProvider="com.jiuqi.etl.rpa.ui.application.close.CloseApplicationTaskEditProvider"
            group="应用"
            largeIcon="icons/closeApp32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.application.close.CloseApplicationTaskFactory"
            name="关闭应用"
            smallIcon="icons/closeApp16-01.png">
      </task>
      <task
            description="关闭进程"
            editProvider="com.jiuqi.etl.rpa.ui.application.killprocess.KillProcessTaskEditProvider"
            group="应用"
            largeIcon="icons/closeProcess32-02.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.application.killprocess.KillProcessTaskFactory"
            name="关闭进程"
            smallIcon="icons/closeProcess16-02.png">
      </task>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.jiuqi.etl.rpa.ui.actionset"
            label="label"  visible="true">
         <action
               class="com.jiuqi.etl.rpa.ui.actionset.OpenBrowserAction"
               icon="icons/openbrowser16-01.png"
               id="com.jiuqi.etl.rpa.ui.actionset.runBreoser"
               label="打开浏览器"
               menubarPath="sampleMenu/sampleGroup"
               state="true"
               style="pulldown"
               toolbarPath="start/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="获取属性"
            editProvider="com.jiuqi.etl.rpa.ui.extract.getattribute.GetAttributeTaskEditProvider"
            group="数据抓取"
            largeIcon="icons/getAttr32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.extract.getattribute.GetAttributeTaskFactory"
            name="获取属性"
            smallIcon="icons/getAttr16-01.png">
      </task>
      <task
            description="获取位置"
            editProvider="com.jiuqi.etl.rpa.ui.extract.getposition.GetPositionTaskEditProvider"
            group="数据抓取"
            largeIcon="icons/getPosition32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.extract.getposition.GetPositionTaskFactory"
            name="获取位置"
            smallIcon="icons/getPosition16-01.png">
      </task>
      <task
            description="结构化数据提取"
            editProvider="com.jiuqi.etl.rpa.ui.extract.structureddata.StructuredDataTaskEditProvider"
            group="数据抓取"
            largeIcon="icons/structure32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.extract.structureddata.StructuredDataTaskFactory"
            name="结构化数据提取"
            smallIcon="icons/structure16-01.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="获取窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.attach.WindowAttachTaskEditProvider"
            group="窗口"
            largeIcon="icons/attach32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.attach.WindowAttachTaskFactory"
            name="获取"
            smallIcon="icons/attach16-01.png">
      </task>
      <task
            description="最小化窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.minimize.WindowMinimizeTaskEditProvider"
            group="窗口"
            largeIcon="icons/attach32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.minimize.WindowMinimizeTaskFactory"
            name="最小化"
            smallIcon="icons/attach16-01.png">
      </task>
      <task
            description="最大化窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.maximize.WindowMaximizeTaskEditProvider"
            group="窗口"
            largeIcon="icons/max32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.maximize.WindowMaximizeTaskFactory"
            name="最大化"
            smallIcon="icons/max16-01.png">
      </task>
      <task
            description="显示窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.show.WindowShowTaskEditProvider"
            group="窗口"
            largeIcon="icons/show32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.show.WindowShowTaskFactory"
            name="显示"
            smallIcon="icons/show16-01.png">
      </task>
      <task
            description="隐藏窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.hide.WindowHideTaskEditProvider"
            group="窗口"
            largeIcon="icons/hide32-02.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.hide.WindowHideTaskFactory"
            name="隐藏"
            smallIcon="icons/hide16-02.png">
      </task>
      <task
            description="关闭窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.close.WindowCloseTaskEditProvider"
            group="窗口"
            largeIcon="icons/close32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.close.WindowCloseTaskFactory"
            name="关闭"
            smallIcon="icons/close16-01.png">
      </task>
      <task
            description="移动窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.move.WindowMoveTaskEditProvider"
            group="窗口"
            largeIcon="icons/drag32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.move.WindowMoveTaskFactory"
            name="移动"
            smallIcon="icons/drag16-01.png">
      </task>
      <task
            description="还原窗口"
            editProvider="com.jiuqi.etl.rpa.ui.window.restore.WindowRestoreTaskEditProvider"
            group="窗口"
            largeIcon="icons/restore32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.window.restore.WindowRestoreTaskFactory"
            name="还原"
            smallIcon="icons/restore16-01.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="录入框"
            editProvider="com.jiuqi.etl.rpa.ui.dialog.input.DialogInputTaskEditProvider"
            group="对话框"
            largeIcon="icons/dialoginput32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.dialog.input.DialogInputTaskFactory"
            name="录入框"
            smallIcon="icons/dialoginput16-01.png">
      </task>
      <task
            description="消息框"
            editProvider="com.jiuqi.etl.rpa.ui.dialog.message.DialogMessageTaskEditProvider"
            group="对话框"
            largeIcon="icons/dialogmessage32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.dialog.message.DialogMessageTaskFactory"
            name="消息框"
            smallIcon="icons/dialogmessage16-01.png">
      </task>
      <task
            description="选择文件"
            editProvider="com.jiuqi.etl.rpa.ui.dialog.file.SelectFileTaskEditProvider"
            group="对话框"
            largeIcon="icons/selectfile32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.dialog.file.SelectFileTaskFactory"
            name="选择文件"
            smallIcon="icons/selectfile16-01.png">
      </task>
      <task
            description="选择目录"
            editProvider="com.jiuqi.etl.rpa.ui.dialog.directory.SelectDirectoryTaskEditProvider"
            group="对话框"
            largeIcon="icons/selectdir32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.dialog.directory.SelectDirectoryTaskFactory"
            name="选择目录"
            smallIcon="icons/selectdir16-01.png">
      </task>
   </extension>
   <extension
         point="com.jiuqi.etl.ui.editor.task">
      <task
            description="截屏"
            editProvider="com.jiuqi.etl.rpa.ui.image.snapshot.SnapShotTaskEditProvider"
            group="图像"
            largeIcon="icons/snapshot32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.image.snapshot.SnapShotTaskFactory"
            name="截屏"
            smallIcon="icons/snapshot16-01.png">
      </task>
      <task
            description="OCR识别发票图像"
            editProvider="com.jiuqi.etl.rpa.ui.image.ocrinvoice.OcrInvoiceTaskEditProvider"
            group="图像"
            largeIcon="icons/snapshot32-01.png"
            modelFactory="com.jiuqi.etl.rpa.runtime.image.ocrinvoice.OcrInvoiceTaskFactory"
            name="OCR发票"
            smallIcon="icons/snapshot16-01.png">
      </task>
   </extension>
</plugin>
