<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jiuqi.etl.rpa.toolkits.welcom.editor.WelcomEditor"
            default="false"
            id="com.jiuqi.etl.ui.rpa.welcomeditor"
            name="欢饮页面">
      </editor>
   </extension>

</plugin>
